body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.login-box {
    width: 300px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.btn {
    display: block;
    background: #007bff;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}
